<app-loader *ngIf="loading()"></app-loader>
<app-task-filters
  [searchQuery]="searchQuery()"
  [selectedPriority]="selectedPriority()"
  (search)="onSearch($event)"
  (filter)="onFilter($event)"
></app-task-filters>

<app-task-list
  [tasks]="filteredTasks()"
  [loading]="loading()"
  (selectTask)="onSelectTask($event)"
  (deleteTask)="onDeleteTask($event)"
></app-task-list>

<app-task-detail
  *ngIf="selectedTask()"
  [task]="selectedTask()"
  (update)="onUpdateTask($event)"
></app-task-detail>

<app-task-form (create)="onCreateTask($event)"></app-task-form>

<div *ngIf="error()">{{ error() }}</div>
